body, .main-content{
    background: #FFF;
}
.menu-wrapper .catalog .catalog-li{

}
.main-title{
    margin: 0 20px;
    font-size: 14px;
    color: #1D2A30;
    background: #f3f3f3;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 10px;
}
.input-wp{
    padding: 20px 0 10px;
    margin: 0 20px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}
.tab-wp{
    margin: 0 20px;
    padding: 20px 0;
}
.tab-pane{
    padding: 10px 5px;
}
.form-group, .url-input-label, .btn{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: none;
    vertical-align: baseline;
}
.result-menu{
    margin: 10px 0;
    text-align: right;
}
a.opt img{
    width: 20px;
    height: 20px;
}